<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contactmvvmandroom">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ui.home.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ContactMVVMandRoom">
        <activity
            android:name=".ui.home.splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.updateUser.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".ui.showContact.ShowContact"
            android:exported="false" />
        <activity
            android:name=".ui.InsertUser.InsertPerson"
            android:exported="false" />
        <activity
            android:name=".ui.home.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>